
@model frenlish.ViewModel.HomeLessonVM
@{
    ViewBag.Title = "document";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        height: 500,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],

        toolbar: 'undo redo | formatselect | ' +
            ' bold italic backcolor | alignleft aligncenter ' +
            ' alignright alignjustify | bullist numlist outdent indent |' +
            ' removeformat | help | link image',
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tiny.cloud/css/codepen.min.css'
        ]
    });

    //tinymce.activeEditor.execCommand('mceDirectionRTL');
</script>
<script>
    function makeid(length) {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
    }
</script>

<style>
    .nav-tabs {
        padding-right: 0px;
    }

        .nav-tabs li {
            float: right !important;
        }

    .fieldholder {
        /*width: 30%;
            display: inline-block;*/
        padding: 15px;
    }

    .REM {
        border-radius: 5px;
    }
</style>

<div class="row" style="background-color:white; padding:10px; margin:0px; margin-top:65px">
    <p style="padding:15px 5px">بخش حاضر : @Model.sessionTitle</p>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" style=" color: #8d8d8d; ">لیست دروس</a></li>
        <li><a data-toggle="tab" href="#menu1" style=" color: #8d8d8d; ">تولید درس جدید</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active" style="padding-top:20px">


            <div class="row">
                <div style="margin-right:20px">
                    <div class="row fieldholder" style="width:25%;padding: 0 10px;display: inline-block;">
                        <div class=" ">
                            <span style="color:red; display:none">*</span>
                            <input class="form-control" style="min-width:250px" type="text" id="searchinput" name="searchinput" placeholder="عبارت مورد نظر را جستجو کنید" />
                        </div>
                    </div>

                    <div class="row fieldholder" style="width:25%;padding: 0 10px;display: inline-block;">
                        <a id="changeList" class="lgnsubmitt btn btn-primary">تایید</a>

                    </div>
                </div>

                <script>
                    $("#changeList").click(function () {
                        var search = $("#searchinput").val();

                        $.ajax({
                            url: '/Admin/ChangeLessonList',
                            dataType: 'html',
                            data: {
                                query: search,
                                sessionID :'@Model.sessionID'
                            },
                            success: function (data) {

                                $("#fistDivHolder").html(data);
                            },
                            error: function () {

                            }
                        });

                    })
                </script>

                <div id="fistDivHolder">
                    <div id="Listholder">
                        <div class="row" style="padding:20px">
                            <div style="overflow-x:auto;padding:10px">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                                        <h3 class="panel-title">لیست دروس  </h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="morris-area-chart">
                                            <div style="overflow:auto">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                ID
                                                            </th>
                                                            <th>
                                                                عنوان
                                                            </th>

                                                            <th>
                                                                تصویر
                                                            </th>

                                                            <th>

                                                            </th>
                                                            <th>

                                                            </th>

                                                            <th>

                                                            </th>

                                                            <th>

                                                            </th>
                                                            <th>

                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            if (Model.lessonList != null)
                                                            {
                                                                foreach (var item in Model.lessonList)
                                                                {

                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.lessonID)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.title)
                                                                        </td>
                                                                        <td style=" text-align:right">
                                                                            <img style="width:150px" src="/images/panelimages/@item.imageTitle" />

                                                                        </td>

                                                                        <td style=" text-align:center">
                                                                            <a style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;" class="btn btn-primary" href="/admin/bilingaul?lessonID=@item.lessonID">مشاهده واژگان </a>

                                                                        </td>
                                                                        <td style=" text-align:center">
                                                                            <a style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;" class="btn btn-primary" href="/admin/question?courseID=@item.lessonID">مشاهده سوالات </a>

                                                                        </td>
                                                                        <td style=" text-align:center">
                                                                            <a style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;" class="btn btn-primary" href="/admin/refrenc?courseID=@item.lessonID">مشاهده منابع </a>

                                                                        </td>


                                                                        <td style="text-align: center;">

                                                                            @{
                                                                                var ID = @item.lessonID;
                                                                                <a id=@ID class="btn btn-primary PEbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">ویرایش</a>

                                                                            }

                                                                        </td>
                                                                        <td style="text-align: center;">

                                                                            @{

                                                                                <a id=@ID class="btn btn-primary Dbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">حذف</a>

                                                                            }

                                                                        </td>
                                                                    </tr>
                                                                }

                                                            }
                                                        }


                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" id="detailholder" style="padding:0 25px 0 10px ; display:none; width:100%">

                        <div class="row fieldholder col-lg-3" style="padding:31px 15px" >
                            <label style="text-align: right">
                                ویدیو :
                            </label>
                            <div>
                                <span style="color:red; display:none">*</span>
                                <input value="" type="file" id="videoUpd" name="videoUpd" required="required" class="form-control">
                            </div>
                            <script>
                                $('#videoUpd').change(function (e) {

                                    var fileName = e.target.files[0].name;

                                    $("#videoAddressUpdate").val(fileName);

                                })
                            </script>


                        </div>

                        @using (Html.BeginForm("editlesson", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "updateArticle" }))
                        {

                            <div style="padding: 15px 5px; border: 1px solid #d8d8d8; border-radius: 5px;">
                                <div class="row">

                                    <div class="row fieldholder col-lg-3">

                                        <label style="text-align: right">
                                            عکس:
                                        </label>

                                        <div>
                                            <input type="file" id="imageFileHolderEdit" name="image" required="required" class="form-control ">
                                        </div>
                                    </div>





                                    <div class="row fieldholder col-lg-3">
                                        <label style="text-align: right">
                                            عنوان :
                                        </label>
                                        <div>
                                            <span style="color:red; display:none">*</span>
                                            <input value="" type="text" id="titleupdate" name="titleupdate" required="required" class="form-control">
                                        </div>


                                    </div>




                                    <input id="videoAddressUpdate" name="videoAddressUpdate" hidden/>
                                    <input id="IDupdate" name="IDupdate" hidden />
                                    <input id="oldImageAddress" name="oldImageAddress" hidden />
                                    <input id="oldVideoAddress" name="oldVideoAddress" hidden />
                                    <input id="sessionID" name="sessionID" value="@Model.sessionID" hidden />

                                </div>
                                <div id="thumbholderEdior">

                                </div>
                                <div class="row">
                                    <div class="row fieldholder col-lg-12">
                                        <label style="text-align: right">
                                            متن :
                                        </label>
                                        <div>
                                            <span style="color:red; display:none">*</span>

                                            <textarea id="grammerUpdate" name="grammerUpdate" required="required" class="form-control " style="min-height:150px"></textarea>

                                        </div>


                                    </div>
                                    <div class="row fieldholder" style="width:25%;padding: 0 10px;display: inline-block;">
                                        <a id="UpdateButt" class="lgnsubmitt btn btn-primary">تایید</a>

                                    </div>
                                </div>
                                <script>


                                    $("#UpdateButt").click(function () {
                                        // alert("aa");

                                        var int = 0;
                                        $(".REM2").each(function () {

                                            if ($(this).val() === "") {
                                                $(this).siblings("span").css("display", "inline-block");
                                                int = 1;
                                            }
                                        })
                                        if (int === 0) {
                                            $("#updateArticle").submit();
                                        }
                                        else {
                                            toastr.options = {
                                                "debug": false,
                                                "positionClass": "toast-top-center",
                                                "onclick": null,
                                                "fadeIn": 300,
                                                "fadeOut": 1000,
                                                "timeOut": 5000,
                                                "extendedTimeOut": 1000
                                            }
                                            toastr.error('لطفاً تمامی موارد را کامل کنید')

                                        }


                                    })
                                </script>

                            </div>

                        }


                    </div>
                    <div class="modal fade" id="delArticlemodal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <p>آیا از حذف نظر اطمینان دارید؟</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="modalDelArticle">تایید</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        //tinymce.get('descriptionupdate').setContent("aaa");
                        //alert("aa");
                    </script>
                    <script>

                        var id = "";
                        var imageAddress = "";
                        var videoAddress = "";
                    $(".PEbutton").click(function () {
                     
                        var rowid = $(this).attr("id");
                        var articles = @Html.Raw(Json.Encode(Model.lessonList));
                        $("#detailholder").css("display", "inline-block");

                        $.each(articles, function (index, item) {
                            if (item.lessonID.toString() === rowid) {
                                

                                var imagaddress = "/images/panelimages/" + item.image;
                                var videoaddress = "/images/panelimages/" + item.videoTitle;
                                $("#titleupdate").val(item.title);
                                $("#IDupdate").val(item.lessonID);
                                $("#oldImageAddress").val(item.imageTitle);
                                $("#oldVideoAddress").val(item.videoTitle);
                                tinymce.get('grammerUpdate').setContent(item.grammer);









                            }


                        });

                    });
                        $(".Dbutton").click(function () {
                            $("#delArticlemodal").modal('toggle');
                            id = $(this).attr("id");
                            var rowid = $(this).attr("id");
                            var articles = @Html.Raw(Json.Encode(Model.lessonList));
                            $("#detailholder").css("display", "inline-block");

                            $.each(articles, function (index, item) {
                                if (item.lessonID.toString() === rowid) {

                                    imageAddress = item.imageTitle;
                                    videoAddress = item.videoTitle

                                }


                            });

                        });

                        $("#modalDelArticle").click(function () {
                           
                            var url = "/Admin/delllesson?lessonID=" + id + "&imageAddress=" + imageAddress + "&videoAddress=" + videoAddress 
                            window.location.href = url
                            
                        });
                    </script>
                </div>


            </div>




        </div>
        <div id="menu1" class="tab-pane fade" style="padding-top:20px">
            <div class="row fieldholder col-lg-3" style="padding:25px">
                <label style="text-align: right">
                    ویدیو :
                </label>
                <div>
                    <span style="color:red; display:none">*</span>
                    <input value="" type="file" id="videoAdd" name="videoAdd" required="required" class="form-control">
                </div>
                <script>
                    $('#videoAdd').change(function (e) {

                        var fileName = e.target.files[0].name;
                     
                        $("#videoTitle").val(fileName);
                   
                    })
                </script>

            </div>
            @using (Html.BeginForm("addlesson", "Admin", FormMethod.Post,
new { enctype = "multipart/form-data", id = "addArticle" }))
            {


            <div class="row" style="padding:10px">


                <input name="sessionID" value="@Model.sessionID" hidden />
                <input id="videoTitle" name="videoTitle"  hidden />


                <div class="row fieldholder col-lg-3">
                    <div style="width:100%;display:inline-block">
                        <label style="text-align: right">
                            عکس:
                        </label>

                        <div>
                            <input multiple type="file" id="imageFileHolder" name="image" required="required" class="form-control ">
                        </div>
                    </div>
                </div>
                <div class="row fieldholder col-lg-3">
                    <label style="text-align: right">
                        عنوان :
                    </label>
                    <div>
                        <span style="color:red; display:none">*</span>

                        <input value="" type="text" id="title" name="title" required="required" class="form-control  REM">
                    </div>


                </div>

            </div>

                <div class="row" style="padding:10px">
                    <div class="row fieldholder col-lg-12">
                        <label style="text-align: right">
                            متن :
                        </label>
                        <div>
                            <span style="color:red; display:none">*</span>

                            <textarea id="grammer" name="grammer" required="required" class="form-control"></textarea>

                        </div>


                    </div>


                    <div class="row fieldholder" style="width:25%;padding: 0 10px;display: inline-block;">
                        <a id="CRprocuct" class="lgnsubmitt btn btn-primary">تایید</a>

                    </div>


                </div>



                <script>




                    $("#CRprocuct").click(function () {

                        $(this).siblings("span").css("display", "none");
                        var addint = 0;
                        $(".REM").each(function () {

                            if ($(this).val() === "") {
                                $(this).siblings("span").css("display", "inline-block");
                                addint = 1;
                            }




                        })
                        if (addint === 0) {
                            

                            $("#addArticle").submit();
                        }
                        else {
                            toastr.options = {
                                "debug": false,
                                "positionClass": "toast-top-center",
                                "onclick": null,
                                "fadeIn": 300,
                                "fadeOut": 1000,
                                "timeOut": 5000,
                                "extendedTimeOut": 1000
                            }
                            toastr.error('لطفاً تمامی موارد را کامل کنید')

                        }


                    })
                </script>



            }
        </div>

    </div>
</div>


